
/*----Спецификация----*/
*{
    padding: 0;
    margin: 0;
}
.html, .body{
    font-family: 'Lato', sans-serif;
}
.container-fluid{
    padding: 0;
}


/* ----Header----*/

.header__img img{
   width:100vw;
    display: block;
}
.header__nav{
   position: absolute;
    top: 0;
    left:17%;
}

ul.header-list{
    list-style-type: none;
    padding-top: 2rem;
    position: absolute;
    width: 100%;
}

.header__menu a{
    text-decoration: none;
    font-size: .875rem;
    color: #797782;
    font-weight: bold;
    letter-spacing: 0.09rem;
}

/* ----new-generation----*/
.new-generation{
    background: #f7f7f7;
}
.new-generation p{
    text-align: center;
}
p.new-generation__icon{
    padding-top: 6.875rem;
    margin-bottom: 2rem;
}
p.new-generation__text{
    width: 70%;
    margin: 0 auto;
    color: #afb1b2;
    padding-bottom: 9rem;
    font-size: 1.1rem;
}
p.new-generation__title{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #353738;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
 /*----Oliva----*/


.oliva__photo{
    flex: 0 0 60%;
    position: relative;
}
.oliva-wrapper{
    width: 100%;
}
.oliva__photo img.big{
   width: 100%;
    height: 100%;
}
.oliva__photo img.small{
    position: absolute;
    top:47%;
    left: 43%;
}
.oliva__discr{
    text-align: center;
    margin: 0;
    flex: 0 0 40%;
}
.oliva__seat img {
    width: 100%;
}
.oliva__title{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #353738;
    font-weight: bold;
    padding-bottom: 1.55rem;
    margin-bottom: 0;
}
.oliva__text{
    font-size: 0.8rem;
    padding-bottom: 6rem;
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    position: relative;
    color: #afb1b2;
}
.oliva__text::after{
    content: "";
    width: 2.875rem;
    height: 1px;
    display: block;
    background-color:#afb1b2;
    position: absolute;
    bottom: 4rem;
    right: 45%;
}

/*----Boriosa----*/


.boriosa__photo{
    flex: 0 0 60%;
    position: relative;
}
.boriosa__photo img.big{
    width: 100%;
    height: 100%;
}
.boriosa__photo img.small{
    position: absolute;
    top:47%;
    left: 43%;
}
.boriosa__discr{
    text-align: center;
    margin: 0;
    flex: 0 0 40%;
}
.boriosa__seat img {
    width: 100%;
}
.boriosa__title{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #353738;
    font-weight: bold;
    padding-bottom: 1.55rem;
    margin-bottom: 0;
}
.boriosa__text{
    font-size: 0.8rem;
    padding-bottom: 6rem;
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    position: relative;
    color: #afb1b2;
}
.boriosa__text::after{
    content: "";
    width: 2.875rem;
    height: 1px;
    display: block;
    background-color:#afb1b2;
    position: absolute;
    bottom: 3.5rem;
    right: 45%;
}

/*----Retro----*/


.retro__first img{
    width: 100%;
    height: 100%;
}
.retro__first, .retro__second{
    flex: 0 0 33.33333%;
    height: auto;
}
.retro__discr{
    text-align: center;
    margin: 0;
}
.retro__text{
    padding-bottom: 8rem;

}
/*----Twitter-slide----*/

.twitter-slide{
    background: #f7f7f7;
}
.first__twit{
    text-align: center;
}
.first__twit-picture {

    padding-top: 7.6rem;
    padding-bottom: 1rem;
}
.first__twit-title{
    font-size: .81rem;
    font-weight: bold;
    letter-spacing: .08rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}
span.minutes{
    color: #babbbc;
}
.first__twit-text{
    font-style: italic;
    font-size: 1.125rem;
    color: #848789;
    width: 70%;
    margin: 0 auto;
}
.owl-carousel .item{
   height: 20rem;
}
.fa-twitter{
    color:#56c7ee;
    font-size: 2rem;
}
.owl-theme .owl-nav.disabled + .owl-dots{
    padding-bottom: 5rem;
}

/*----Shop----*/

.shop1, .shop2, .shop3{
    flex: 0 0 33.333333%;
    height: auto;
}
.shop1__first, .shop1__second{
    flex: 0 0 50%;
    height: auto;
}
.shop1__third{
    flex: 0 0 100%;
    height: auto;
}
.shop1__first img, .shop1__second img, .shop1__third img{
    width: 100%;
    height: 100%;
}
.shop2__first, .shop2__second{
    flex: 0 0 50%;
    height: auto;
}
.shop2__first img, .shop2__second img{
    width: 100%;
    height: 100%;
}
.shop3__first{
    flex: 0 0 100%;
    height: auto;
}
.shop3__second, .shop3__third{
    flex: 0 0 50%;
    height: auto;
}
.shop3__first img, .shop3__second img, .shop3__third img{
    width: 100%;
    height: 100%;
}

/*----BlackButton----*/

.blackButton{
    height: 12.5rem;
    background: #282f35;
}
.discoverShop {
    display: block;
    width: 18.75rem;
    height: 3.125rem;
    border-radius: 0;
    border: 1px solid #d4d5d7;
    background: transparent;
    position: relative;
    top: 35%;
    left: 40%;
}
.discoverShop a {
    color: #d4d5d7;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .1rem;
}
.discoverShop a:hover{
    text-decoration: none;
}

/*----Email----*/

.email{
    height: 30rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.email__title{
    margin-top: 2.2rem;
    color: #8c8f91;
    font-style: italic;
    font-size: 1.5rem;
}
.email__input{
    width: 25rem;
    height: 3.5rem;
    border: 1px solid #c8c8c8;
}
.email__go{
    width: 7.6rem;
    height: 3.5rem;
    border-radius: 0;
    background: #64c29e;
    color: #fff;
    font-size: 1.5rem;
}
input[type="email"]::-webkit-input-placeholder {
    font-style: italic;
    color: #c8c8c8;
    font-size: 1.3rem;
    padding-left: 1rem;
}

input[type="email"]:-ms-input-placeholder {
    font-style: italic;
    color: #c8c8c8;
    font-size: 1.3rem;
    padding-left: 1rem;
}

input[type="email"]::-ms-input-placeholder {
    font-style: italic;
    color: #c8c8c8;
    font-size: 1.3rem;
    padding-left: 1rem;
}

input[type="email"]::placeholder {
    font-style: italic;
    color: #c8c8c8;
    font-size: 1.3rem;
    padding-left: 1rem;
}

/*----Footer----*/

footer{
    background: #f7f7f7;
    height: 15.625rem;
}
.footer__wrapper-first, .footer__wrapper-second, .footer__wrapper-third{
    flex: 0 0 33.33333%;
    height: auto;
}
.footer__text, .footer__social,.footer__signature{
    padding-top: 25%;
}
.footer__text p{
    margin: 0;
    padding: 0;
}
.footer__text-title{
    color: #848789;
    font-weight: bold;

}
.footer__text-address, .footer__signature p{
    color: #9b9d9f;
    font-style: italic;
    font-weight: 600;
}
.footer__social img{
    display: block;
}
img.twit, img.face{
    margin-right: 1rem;
}
.yebo img{
    display: block;
    margin-left: 0.75rem;
}

/* ----@Media----*/

@media screen and (max-width: 1200px){
    .oliva__icon{
        padding-top: 1.2rem;
    }
    .boriosa__icon{
        padding-top: 1.2rem;
    }
    ul.header-list {
        right: 10%;
    }
    .first__twit-picture {
        padding-top: 5.6rem;
    }
    .footer__text, .footer__social, .footer__signature {
        padding-top: 35%;
    }
    .discoverShop {
        left: 35%;
    }

}
@media screen and (max-width: 992px) {
    .oliva{
        background: #f7f7f7;
    }
    .oliva__photo{
        flex: 0 0 100%;
    }
    .oliva__discr{
        flex: 0 0 100%;
    }
    .boriosa__photo{
        flex: 0 0 100%;
    }
    .boriosa__discr{
        flex: 0 0 100%;
    }
    .retro__first, .retro__second{
        flex: 0 0 100%;
    }
    .retro__first img{
        height: 60%;
    }
    .retro__second{
        margin-top: -20rem;
    }
    .oliva__photo img.small{
        top:37%
    }
    .boriosa__photo img.small {
        top: 37%;
        left: 37%;
    }
    .twitter-slide{
        margin-top: -19rem;
    }
    ul.header-list{
        right: 5%;
        padding-top: 0.5%;
    }
    .discoverShop {
        left: 31%;
    }
    .email{
        height: 20rem;
    }
    .footer__social, .footer__signature {
        padding-top: 45%;
    }
    p.new-generation__icon {
        padding-top: 3.875rem;
    }
    p.new-generation__text {
        padding-bottom: 4rem;
    }
    .first__twit-picture {
        padding-top: 2.6rem;
    }
    .boriosa__photo img.small {
        top: 35%;
    }
}
















